%h1 Listing graphs

%table
  %tr
    %th Service
    %th Section
    %th Name
    %th Color
    %th Created by
    %th Secret
    %th
    %th
    %th

  - @graphs.each do |graph|
    %tr
      %td= graph.service
      %td= graph.section
      %td= graph.name
      %td= graph.color
      %td= graph.created_by
      %td= graph.secret
      %td= link_to 'Show', graph
      %td= link_to 'Edit', edit_graph_path(graph)
      %td= link_to 'Destroy', graph, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Graph', new_graph_path
