%h3 Listing graphs

%table.table.table-striped
  %tr
    %th Service
    %th Section
    %th Name
    %th Color
    %th Created by
    %th

  - @graphs.each do |graph|
    %tr
      %td= graph.service
      %td= graph.section
      %td= graph.name
      %td= graph.color
      %td= user_link graph.created_by
      %td= link_to 'Show', graph

%br

= link_to 'New Graph', new_graph_path, :class => 'btn btn-primary' if user_signed_in?
