- each_service(@graphs) do|service, xs|
  %h3= service
  - each_section(xs) do|section, ys|
    %h4= section
    %table.table.table-striped
      - each_graph(ys) do|graph|
        %tr
          %td= link_to graph.name, graph
          %td.color= graph.color
          %td.created-by= user_link graph.created_by

%br

= link_to 'New Graph', new_graph_path, :class => 'btn btn-primary' if user_signed_in?
