%h1 Listing graphs

%table
  %tr
    %th Service
    %th Section
    %th Name
    %th Color
    %th Created by
    %th

  - @graphs.each do |graph|
    %tr
      %td= graph.service
      %td= graph.section
      %td= graph.name
      %td= graph.color
      %td= (graph.created_by.nil? ? '' : graph.created_by.name)
      %td= link_to 'Show', graph

%br

= link_to 'New Graph', new_graph_path if user_signed_in?
