%h3= "#{@graph.service} > #{@graph.section} > #{@graph.name}"
%p
  %b Created by:
  = (@graph.created_by.nil? ? '' : image_tag(@graph.created_by.icon_url, :class => 'profile') + ' ' + @graph.created_by.name)
- if is_own?(@graph)
  %p
    %b Secret:
    = @graph.secret

#graph

= link_to 'Edit', edit_graph_path(@graph)
\|
= link_to 'Back', graphs_path

= content_for :javascript do
  :javascript
    #{@graph_js}
