%h3= "#{@graph.service} > #{@graph.section} > #{@graph.name}"
%p
  %b Created by:
  = user_link @graph.created_by
- if is_own?(@graph)
  %p
    %b Secret:
    = @graph.secret

- if @graph.logs.size == 0 and @graph.owner?(current_user)
  .getting-started
    %b How to post logs.
    %ul
      %li
        %b URL:
        = "#{root_url}api/#{@graph.service}/#{@graph.section}/#{@graph.name}"
      %li
        %b Method:
        POST
      %li
        %b Parameters:
        %ul
          %li
            %b= "secret=#{@graph.secret}"
          %li
            %b number=Integer
      %li
        %b Example: input a following command
      %code $ curl -F "number=1" -F "secret=#{@graph.secret}" "#{root_url}api/#{@graph.service}/#{@graph.section}/#{@graph.name}"
      %li

#graph

- if is_own?(@graph)
  = link_to 'Edit', edit_graph_path(@graph)
  \|
= link_to 'Back', graphs_path

= content_for :javascript do
  :javascript
    #{@graph_js}
