= form_for @complex_graph do |f|
  -if @complex_graph.errors.any?
    #error_explanation
      %h2= "#{pluralize(@complex_graph.errors.count, "error")} prohibited this complex_graph from being saved:"
      %ul
        - @complex_graph.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :service
    = f.text_field :service
  .field
    = f.label :section
    = f.text_field :section
  .field
    = f.label :name
    = f.text_field :name
  .field
    - @graphs.each do|g|
      %p
        = check_box_tag "graph[#{g.id}]","1", @complex_graph.graphs.include?(g)
        ="#{g.service} > #{g.section} > #{g.name}"
  .actions
    = f.submit 'Save'
