%h2
  = link_to "Graphs", url_for(:action => :index)
  &raquo;
  = service_link @service
  &raquo;
  = @section

= render :partial => 'graphs', :locals => { :graphs => @graphs }

%br

= render :partial => 'buttons'
