%h2
  = link_to "Graphs", url_for(:action => :index)
  &raquo;
  = @service
  - each_section(@graphs) do|section, xs|
    %h4= section_link(@service, section)
    = render :partial => 'graphs', :locals => { :graphs => xs }

%br

= render :partial => 'buttons'
